@model Community.ViewModels.GroupViewModels.GroupsViewModel


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Group Information
                </h3>
                <span class="pull-right clickable"><i class=""></i></span>
            </div>
            <div class="panel-body">


                <table class="table">
                    <thead>
                    <tr>

                        <th>Group name</th>


                        <th>Member status</th>


                        <th>Administrator name</th>


                        <th>Member since</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@Model.GroupName</td>
                        <td>@Model.MemberStatus</td>
                        <td>@Model.Administrator</td>
                        <td>@Model.MemberShip</td>

                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>