@model Community.ViewModels.MessageViewModels.MessageViewModel
<div style="margin-top: 35px;">

    <div class="list-group">
        <a href="#" class="list-group-item success">Subject: @Model.Subject </a>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                Message:<br/><br/> @Model.Text
            </h4>
        </div>
    </div>
</div>