<div class="panel panel-primary" style="margin-top: 100px">
    <div class="panel-heading">
        <h3 class="panel-title">My Messages</h3>
    </div>
    <div class="panel-body">
        <div class="row">


            <div class="col-md-6 " id="divDetail">
                @Html.Action("_NewMessages", "Message")
            </div>
            <div class="col-md-6 " id="divRead">
            </div>
        </div>
    </div>
</div>